.foto {
    background-image: url("../images/323-football_102392.png");
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 25px, 20px;
    padding-left: 30px;
}