#Vriend table {

    width: 100%;
}

#Vriend {
    font: normal 12px/150% Geneva, Arial, Helvetica, sans-serif;
    background: lightgray;
    overflow: hidden;
    border: 10px solid #006699;
    -moz-border-radius: 20px;
    border-radius: 20px;
}

#Vriend table td, #vrienden table th {
    padding: 7px 4px;
}

#Vriend table thead th {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #006699), color-stop(1, #00557F));
    background: -moz-linear-gradient(center top, #006699 5%, #00557F 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#A65B1A', endColorstr='#7F4614');
    background-color: #006699;
    color: #FFFFFF;
    font-size: 17px;
    font-weight: bold;
    border-left: 2px solid #00557F;
}

#Vriend table thead th:first-child {
    border: none;
}

#Vriend table tbody td {
    color: #006699;
    font-size: 12px;
    font-weight: normal;
}

#Vriend table tbody .alt td {
    background: white;
    color: #00557F;
}

#Vriend table tbody td:first-child {
    border-left: none;
}

#Vriend table tbody tr:last-child td {
    border-bottom: none;
}

& body {
        background-color: white;
        margin: 0 auto;
        width: 95%;
}
& h1 {
        background-image: url("../../Images/Sterren.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        height: 50px;

        padding: 30px 0 0 30px;
        text-align: center;
        color: white;
        font-size: 40px;
}
& body > section > table {
        border-collapse: collapse;
        width: 100%;
}
& section > h2 {
        font-size: 25px;
        text-decoration: underline;
}
& body > section {
        background-size: cover;

}
& li {
        -webkit-margin-collapse: collapse;
}
& tr, & th, & td {
        border: 2px solid black;
        text-align: center;
}
& header > h2 {
        text-align: center;
}
& body > section > div > img {
        width: 200px
}

& section {
        background-color: lightblue;
}
.checked {
        background-color: green;
}
.midden {
        background-color: orange;
}
.gefaald {
        background-color: red;
}
& a {
        color: red;
        border-bottom: 5px dotted black;
}
& body > section > div {
        padding-bottom: 20px;
}
.center {
        text-align: center;
}
.Mathieu {
        background: url('../../Images/img.png') no-repeat left center;
        background-size: 20px, 20px;
}
.Stud1 {
        background: url('../../Images/img.png') no-repeat left center;
        background-size: 20px, 20px;
}
.Stud2 {
        background: url('../../Images/failed.jpg') no-repeat left center;
        background-size: 50px, 40px;
}
.Stud3 {
        background: url('../../Images/img.png') no-repeat left center;
        background-size: 20px, 20px;
}
