article:nth-child(even) img{
    float: right;

}
article:nth-child(odd) img{
    float: left;

}
article{
    border: 1px solid grey;
    padding: 10px;
    font-size: 1.25em;
    display: inline-block;
    margin: 10px;
}
p{
    margin: 10px;
    overflow: hidden;
}
h2{
    margin: 10px;
}
