body{
    margin: 0 auto;
    width: 95%;
    font-family: Arial;
}

section > header  {
    padding: 0 10px;
    height: 75px;
    background-image: url('../../Images/header.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color:white;
    font-size: 25px;
}
section > nav {
    background-color: #2B2D42;
}
section > nav > a{
    color: lawngreen;
    text-decoration-line: none;
}
section > section > article > header{
    font-size: 25px;
    text-decoration: underline;
}
section > article {
    background-color: lightgrey;
    background-size: cover;
}
section > article > header > h1 {
    padding: 20px 0 0 10px;     
}