body{
    margin: 0 auto;
    width: 95%;
    font-family: Arial;
}

h1{
    background-image: url("../../Labo 7/Images/Sterren.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 50px;

    padding: 30px 0 0 30px;
    text-align: center;
    color: white;
}
body > section > table {
    border-collapse: collapse;
    width: 100%;
}

section > h2{
    font-size: 25px;
    text-decoration: underline;
}
body > section{
    background-size: cover;

}
li{
    -webkit-margin-collapse: collapse;
}
tr, th, td{
    border:2px solid black;
    text-align: center;
}
header > h2{
    text-align: center;
}
body > section > div > img{
    width: 200px
}
section {
    background-color: lightblue;
}
.checked {
    background-color: green;
}
.midden {
    background-color: orange;
}
.gefaald{
    background-color: red;
}
a {
    color: red;
    border-bottom: 5px dotted black;
}
body > section > div {
    padding-bottom: 20px;
}
.center{
    text-align: center;
}
.Mathieu{
    background: url('../../Labo 7/Images/img.png') no-repeat left center;
    background-size: 20px, 20px;
}
.Stud1{
    background: url('../../Labo 7/Images/img.png') no-repeat left center;
    background-size: 20px, 20px;
}
.Stud2{
    background: url('../../Labo 7/Images/failed.jpg') no-repeat left center;
    background-size: 40px, 40px;
}
.Stud3{
    background: url('../../Labo 7/Images/img.png') no-repeat left center;
    background-size: 20px, 20px;
}


.hobby li {
    margin-bottom: 5px;
}
.custom-section {
    margin-top: 20px;
}

.custom-section img {
    max-width: 100%;
    height: auto;
}
