body {
    font-family: Arial, sans-serif;
    background-color: #fff;
    color: #000;
    margin: 0;
    padding: 0;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
}

th {
    background-color: rgb(35, 37, 70);
    color: rgb(200, 190, 240);
    display: table-cell;
    vertical-align: inherit;
    font-weight: bold;
}
.header {
    color: black;
    background-color: rgb(170,170,200);
}





td:first-child, td:last-child {
    background-color:  rgb(255, 220, 220);
}
td.volgende-maand {
    color: grey;
    background-color: lightgray;
}
td.vorige-maand{
     color: grey;
     background-color: lightgray;
 }
td.Feestdag {
    background-color: rgb(250, 120, 120); /* Light Red */
}